<ul class="navbar-nav ml-auto">
    <li class="nav-item">
        <form method="post">
            {% csrf_token %}
            <label for="loader" class="btn btn-primary mr-lg-4">
                Upload
                <i class="fa fa-cloud-upload"></i>
            </label>
            <input id="loader" type="file" name="load_file" style="display: none"
                   onchange="this.form.submit()">
            <label for="loader" class="btn btn-primary mr-lg-4">
                Save
                <i class="fa fa-save"></i>
            </label>
            <input id="saver" type="file" name="save_file" style="display: none"
                   onchange="this.form.submit()"/>
        </form>
    </li>
    <li class="nav-item">
        <form class="form-inline my-2 my-lg-0 mr-lg-2">
            <div class="input-group">
                <input class="form-control" type="text" placeholder="Search for...">
                <span class="input-group-append">
                <button class="btn btn-primary" type="button">
                  <i class="fa fa-search"></i>
                </button>
              </span>
            </div>
        </form>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="modal" data-target="#exampleModal">
            <i class="fa fa-fw fa-sign-out"></i>Logout</a>
    </li>
</ul>