<ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="List All Tuples">
        <a class="nav-link" href="all_tuples/">
            1.
            <span class="nav-link-text">List All Tuples</span>
        </a>
    </li>
    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Check Games List">
        <a class="nav-link" href="#">
            2.
            <span class="nav-link-text">Check Games List</span>
        </a>
    </li>
    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Check Games per Platform">
        <a class="nav-link" href="#">
            3.
            <span class="nav-link-text">Check Games per Platform</span>
        </a>
    </li>
    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Add New Game Record">
        <a class="nav-link" href="#">
            4.
            <span class="nav-link-text">Add New Game Record</span>
        </a>
    </li>
    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Remove Game Record">
        <a class="nav-link" href="#">
            5.
            <span class="nav-link-text">Remove Game Record</span>
        </a>
    </li>
    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Add Console Type Inference">
        <a class="nav-link" href="#">
            6.
            <span class="nav-link-text">Add Console Type Inference</span>
        </a>
    </li>
    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Add Main Region Inference">
        <a class="nav-link" href="#">
            7.
            <span class="nav-link-text">Add Main Region Inference</span>
        </a>
    </li>
</ul>

<ul class="navbar-nav sidenav-toggler">
    <li class="nav-item">
        <a class="nav-link text-center" id="sidenavToggler">
            <i class="fa fa-fw fa-angle-left"></i>
        </a>
    </li>
</ul>