{% extends "structure/base.html" %}

{% block container %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item active">Add New Game Record</li>
    </ol>
    <div class="row">
        <div class="col-12">
            <h1>4. Add New Game Record</h1>
        </div>
    </div>
    <div class="container col-md-4">
        <div class="card card-register mx-auto mt-2">
            <div class="card-body align-content-center">
                <form method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label>Subject</label>
                        <input class="form-control" type="text" name="subject"
                               placeholder="Enter Subject">
                    </div>
                    <div class="form-group">
                        <label>Predicate</label>

                        <select class="form-control" name="predicate">
                            {% for pred in predicates %}
                                <option>{{ pred }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Object</label>
                        <input class="form-control" type="text" name="object"
                               placeholder="Enter Object">
                    </div>
                    <input type="submit" class="btn btn-primary btn-block"
                           value="Add"/>
                </form>
            </div>
            <div class="card-footer">
                {% if message and error %}
                    <p style="color: red">{{ message }}</p>
                {% elif message and not error %}
                    <p style="color: green"> {{ message }}</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock container %}