{% extends "structure/base.html" %}

{% block container %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item active">List All Tuples</li>
    </ol>
    <div class="row">
        <div class="col-12">
            <h1>1. List All Tuples</h1>
        </div>
    </div>

    <div class="card mb-3">
        <div class="card-header">
            <i class="fa fa-table"></i> Data Table
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                        <th>Subject</th>
                        <th>Predicate</th>
                        <th>Object</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% load filters %}
                    {% for sub, pred, obj, obj_type in tuples %}
                        <tr>
                            <td about="http://www.games.com/entity/{{ sub }}">{{ sub|format_string}}</td>
                            {% ifequal obj_type 'entity' %}
                                    <td rel="pred:{{ pred }}">{{ pred|format_string}}</td>
                                    <td about="http://www.games.com/entity/{{ obj }}">{{ obj|format_string}}</td>
                            {% else %}
                                <td rel="pred:{{ pred }}">{{ pred|format_string}}</td>
                                <td>{{ obj|format_string }}</td>
                            {% endifequal %}
                        </tr>
                    {% endfor %}
                    </tbody>
                    <tfoot>
                    <tr>
                        <th>Subject</th>
                        <th>Predicate</th>
                        <th>Object</th>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
        <div class="card-footer small text-muted"></div>
    </div>
{% endblock container %}