{% extends "structure/base.html" %}
{% load filters %}
{% block container %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item active">Check Games List</li>
    </ol>
    <div class="row">
        <div class="col-12">
            <h1>2. Check Games List</h1>
        </div>
    </div>
    <div class="card mb-3">
        <div class="card-header">
            <div class="row">
                <div class="col-md-2">
                    <i class="fa fa-table"></i> Data Table
                </div>
                <div class="col-md-10">
                    <form method="post" style="text-align: right">
                        {% csrf_token %}
                        <label for="downloader" class="btn btn-primary btn-sm">
                            Download Graph
                            <i class="fa fa-download"></i>
                        </label>
                        <input id="downloader" type="submit" name="download_graph" style="display: none">
                    </form>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>Subject</th>
                        <th>Predicate</th>
                        <th>Object</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% load filters %}
                    {% for sub, pred, obj in triples %}
                        <tr>
                            <td about="http://www.games.com/entity/{{ sub }}">{{ sub|format_string }}</td>
                            <td property="pred:{{ pred }}">{{ pred|format_string }}</td>
                            <td>{{ obj }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    <tfoot>
                    <tr>
                        <th>Subject</th>
                        <th>Predicate</th>
                        <th>Object</th>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
        <div class="card-footer small text-muted"></div>
    </div>
{% endblock container %}