{% extends "structure/base.html" %}

{% block container %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item active">Games Sales</li>
    </ol>
    <div class="row">
        <div class="col-12">
            <h1>Games Sales</h1>
            <p style="text-align: justify">
                This application enables the user to explore a list of the 20, 50 or 100 most sold games worldwide.
                Besides that, he can search for game names according to the type of console the user specifies. There's
                also some inferences that the user can decide whether or not to use them that allows an automatic
                creation of triples from the ones that already exist. All the further changes that the user might
                want or not to apply can be saved in a resulting CSV file for later usage.</p>
        </div>
    </div>
{% endblock container %}
